// COLORS
$black: #000000;
$white: #ffffff;
$dark-grey: #222222;
$grey: #bbbbbb;
$light-grey: #eeeeee;
// FONTS
$font-default: system, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Segoe UI';
$font-sans: $font-default, Arial, sans-serif;
$font-serif: Georgia, Times, 'Times New Roman', serif;
$font-mono: 'Lucida Console', 'Courier New', monospace;
// BREAKPOINTS
$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;
// Easing
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
